.body-list{
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: auto;
  justify-items: center;
 }

 .middle-side{
  display: grid;
  grid-template-columns: repeat(2,500px);
  grid-auto-rows: auto;
  gap: 1em;
  justify-items: center;
 }

 .navigation-buttons{
   grid-column: 1/3;
   display: flex;
   
 }

 @media screen and (max-width: 600px) {
  
  .body-list{

    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: auto;
    justify-items: center;
   }

  .middle-side{
    display: grid;
    grid-template-columns: repeat(2,150px);
    grid-auto-rows: auto;
    gap: 1em;
    justify-items: center;
   }
}
