.bannerCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 300px; 
  color: white;
}

@media screen and (max-width: 600px) {
  .bannerCard{
    width: 150px;
    margin: 30px;
  }
}

@media screen and (max-width: 475px) {
  .bannerCard{
    width: 150px;
    margin: 5px;
  }
}