.body-detail{
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  margin-left: 15%;
  margin-right: 15%;
}

@media screen and (max-width: 600px) {
  .body-detail{
    margin-left: 5%;
    margin-right: 5%;
  }
}

